<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
              <button color="blue" @click="getMessage">Click here</button>
              <pre>





                {{message}}
              </pre>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

export interface Backend {
  Hello(s: string[]): Promise<string>;
}

declare global {
	interface Window {
		backend: Backend;
	}
}

export function backend (): Backend {
  return window.backend
}


@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
  private raised = true;
  private message = '';
  private dialog = false;
  getMessage () {
    this.message = "..."
    backend().Hello(["Alice","Bob"]).then(result => {
      this.message = result
      this.dialog = true
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
